<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body class="appear-animate">
            
            
            <!-- Head Section -->
            <section class="small-section bg-yongin">
                <div class="relative container align-left">
                    
                    <div class="row">
                        
                        <div class="col-md-8">
                            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">용가리</h1>
                            <div class="hs-line-4 font-alt black">
                                용인대학교 학생들만의 소통 공간
                            </div>
                        </div>
                        
                        <div class="col-md-4 mt-30">
                            <div class="mod-breadcrumbs font-alt align-right">
                                <a href="https://www.yongin.ac.kr/" class="btn btn-mod btn-border-w btn-medium btn-round">용인대 홈페이지로 가기</a>
                                <br><br>
                                <a href="https://total.yongin.ac.kr/login.do" class="btn btn-mod btn-border-w btn-medium btn-round">용인대 종합정보 서비스</a>
                                <br><br>
                                <a href="http://lms.yongin.ac.kr/" class="btn btn-mod btn-border-w btn-medium btn-round">&nbsp&nbsp용인대 사이버 캠퍼스&nbsp&nbsp</a>

                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End Head Section -->
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <!-- Features Grid -->
                    <div class="row multi-columns-row alt-features-grid">
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span><%= image_tag("자유게시판.jpg") %></span>
                                </div>
                                <h3 class="alt-features-title font-alt">"자유게시판"</h3>
                                <div class="alt-features-descr align-left">
                                    자유롭게 주제 상관없이 게시글을 작성하는 게시판
                                </div>
                                 <div class="post-prev-more">
                                        <a href="/freepost" class="btn btn-mod btn-gray btn-round">들어가기<i class="fa fa-angle-right"></i></a>
                                 </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span><%= image_tag("식당정보.jpg") %></span>
                                </div>
                                <h3 class="alt-features-title font-alt">"맛 집 공 유"</h3>
                                <div class="alt-features-descr align-left">
                                    용인대학교에서 배달가능한 음식점 소개 및 후기작성 부터 
                                    용인에 숨어있는 맛집들을 소개 및 후기를 작성하는 게시판
                                </div>
                                 <div class="post-prev-more">
                                        <a href="/restaurantmain" class="btn btn-mod btn-gray btn-round">들어 가기<i class="fa fa-angle-right"></i></a>
                                 </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span><%= image_tag("강의소개.jpg") %></span>
                                </div>
                                <h3 class="alt-features-title font-alt">"강 의 정 보"</h3>
                                <div class="alt-features-descr align-left">
                                    용인대학교 강의들중 궁굼한 강의들의 정보와 
                                    강의에 대한 후기 및 꿀팁을 공유하는 게시판
                                </div>
                                 <div class="post-prev-more">
                                        <a href="/scoremain" class="btn btn-mod btn-gray btn-round">들어 가기<i class="fa fa-angle-right"></i></a>
                                 </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span><%= image_tag("공지사항.jpg") %></span>
                                </div>
                                <h3 class="alt-features-title font-alt">"공 지 사 항"</h3>
                                <div class="alt-features-descr align-left">
                                    용대소통 커뮤니티 사이트를 이용할때 숙지해야할 "공지사항"
                                </div>
                                 <div class="post-prev-more">
                                        <a href="/noticemain" class="btn btn-mod btn-gray btn-round">들어 가기<i class="fa fa-angle-right"></i></a>
                                 </div>
                            </div>
                        </div>
                       
            </section>
            <!-- End Section -->
        
    </body>
</html>
